.header {
    padding: 20px 0px;

    &__container {
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__brand-contaner {
        order: 1;
    }

    &__brand-link {
        display: flex;
        text-decoration: none;
        align-items: center;
    }

    &__brand-img-container {
        width: 50px;
    }

    &__brand-text {
        font-size: 16px;
        font-weight: 500;
        color: #202A38;
    }

    &__nav-container {
        order: 3;
    }

    &__nav-list-container {
        display: flex;
        list-style: none;
        align-items: center;
        gap: 10px;
    }

    &__nav-mobile-menu-close {
        display: none;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        font-size: 24px;
    }

    &__nav-list-item {
        position: relative;
    }

    &__nav-list-item--mobile-menu {
        display: none;
    }

    &__nav-list-link {
        text-decoration: none;
        color: #202A38;
        transition: all .3;
        cursor: pointer;
        font-weight: 500
    }

    &__nav-list-link--active {
        color: #0FBD86;
    }

    &__nav-list-link:hover {
        color: #0FBD86;
    }

    &__nav-dropdown {
        position: absolute;
        list-style: none;
        padding: 0px;
        background: #fff;
        min-width: 150px;
        right: 0px;
        margin-top: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        // box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    &__nav-dropdown::before {
        content: '';
        width: 0px;
        height: 0px;
        border: 10px solid #fff;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
        position: absolute;
        top: -20px;
        right: 10px;
    }

    &__nav-dropdown-link {
        text-decoration: none;
        color: #202A38;
        font-size: 14px;
        display: block;
        padding: 10px 20px;
    }

    &__nav-dropdown-link:hover {
        background: #EFF2F6;
    }

    &__mobile-menu-btn-container {
        order: 2;
        display: none;
    }

    &__mobile-menu-btn {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        font-size: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        &__mobile-menu-btn-container {
            display: block;
        }

        &__nav-container {
            position:fixed;
            width: 100vw;
            height: 100vh;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            z-index: 200;
            background: #fff;
            display: none;
        }

        &__nav-container--show {
            display: block
        }

        &__nav-list-container {
            height: 100%;
            flex-direction: column;
            justify-content: center;
        }

        &__nav-mobile-menu-close {
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
        }

        &__nav-list-item {
            padding: 20px 0px;
        }

        &__nav-list-item--profile-item {
            display: none;
        }

        &__nav-list-item--mobile-menu {
            display: block;
        }

        &__mobile-menu-btn {

        }
    }
}