.hero {
    text-align: center;

    &__text-area {
        margin-top: 50px;
    }

    &__text-main-title {
        font-size: 70px;
        color: #202A38;
    }

    &__text-main-desc {
        font-size: 20px;
        margin: auto;
        margin-top: 30px;
        max-width: 600px;
        color: #536E92;
    }

    &__btn-area {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    &__img-area {
        margin: auto;
        margin-top: 60px;
        max-width: 900px;
    }

    &__btn {
        border: none;
        background: #CED7E3;
        padding: 10px;
        border-radius: 3px;
        color: #fff;
    }

    &__btn--red {
        background: #F87272;
    }

    &__btn--blue {
        background: #3ABFF8;
    }

    &__footer-text {
        margin: auto;
        margin-top: 50px;
        max-width: 600px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 40px 0px;
        font-size: 20px;
        color: #2E3D51;
    }
}

@media only screen and (max-width: 768px) {
    .hero {
        &__text-main-title {
            font-size: 45px;
        }

        &__text-main-desc {
            font-size: 18px;
            line-height: 30px;
        }
    }
}

@media only screen and (max-width: 576px) {
    .hero {
        padding-left: 10px;
        padding-right: 10px;

        &__text-main-title {
            font-size: 35px;
        }

        &__text-main-desc {
            font-size: 16px;
            line-height: 24px;
        }

        &__footer-text {
            font-size: 18px;
        }
    }
}