.story {
    background: #EFF2F6;
    padding: 100px 0px;
    text-align: center;

    &__title {
        font-size: 24px;
        color: #202A38;
    }

    &__link {
        text-decoration: none;
        color: #0FBD86;
    }
}


@media only screen and (max-width: 768px) {
    .story {
        padding: 50px 10px;

        &__title {
            font-size: 18px;
        }
    }
}